* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  background: #ffffff;
  /* padding-top: 60px; */
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  line-height: 55px;
  background-color: rgba(27, 34, 40, 0.5);
  padding: 0px 61.5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1001;
}

nav .logo img {
  float: left;
  cursor: pointer;
  color: red;
  width: 150px;
  position: relative;
  z-index: 10;
}

nav ul {
  display: flex;
  list-style: none;
  float: right;
}

nav li {
  display: inline-block;
  list-style: none;
}

nav li a {
  font-size: 15px;
  color: rgb(222, 217, 217);
  padding: 7.5px;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}

.contact_us {
  background-color: rgba(27, 34, 40, 0.5);
  color: white;
  border-radius: 2.25rem;
  padding: 1px 18px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 15px;
  line-height: 53px;
  font-weight: 400;
  height: 47px;
  border: 1px;
}

.contact_us:hover {
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.3);
}

nav li a:hover {
  /* background: rgb(201, 201, 201); */
  color: rgb(88, 88, 196);
  transition: all 0.25s ease;
}

#submenu {
  /* opacity: 0; */
  position: absolute;
  top: 96%;
  visibility: visible;
  z-index: 1000;
  display: none;
  overflow-y: visible;
  /* padding: 6px 1px; */
  line-height: 32px;
}

li:hover ul#submenu {
  opacity: 1;
  /* top: 50px; */
  visibility: visible;
  display: block;
  position: absolute;
  z-index: 100;
}

#submenu li {
  float: none;
  width: 100%;
}

#submenu a:hover {
  background: rgb(201, 201, 201);
  color: rgb(0, 0, 0);
  transition: all 0.25s ease;
}

#submenu a {
  background-color: rgba(27, 34, 40, 0.8);
  border-radius: 5px;
  color: rgb(255, 255, 255);
}

.dropdown-menu {
  display: flex;
  border-radius: 10px;
  border: 1px solid var(--Color-Tone-Neutral-light-grey, #e0e0e0);
  background-color: rgba(27, 34, 40, 0.5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px;
  margin-top: 0;
  top: 100%;
}

.dropdown-item a {
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 8px;
  color: #0a0a0a;
  border-radius: 8px;
  font-size: 15px;
  line-height: 21px;
}

@media (min-width: 1200px) {
  .menu-1 {
    margin-right: 3rem !important;
  }
}

.banner {
  width: 100%;
  height: 85vh;
  position: relative;
  overflow: hidden;
}
.slider {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
}
#slideImg {
  width: 100%;
  height: 100%;
  animation: zoom 10s linear infinite;
}
@keyframes zoom {
  0% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.overlay {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  position: absolute;
  top: 0;
}
.content {
  width: 60%;
  margin: 160px auto 0;
  text-align: center;
  color: white;
}
.content h1 {
  font-size: 60px;
}
.content h3 {
  width: 80%;
  margin: 20px auto 100px;
  font-weight: 500;
  line-height: 25px;
}
button {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 0 10px;
  font-weight: bold;
  border: 2px solid #fe7250;
  border-radius: 25px;
  background: #fe7250;
  color: white;
  cursor: pointer;
  transition: background 0.5s;
}
button:hover {
  background: transparent;
  border: 2px solid #fff;
}

.services_heading {
  font-size: 40px;
  text-align: center;
  color: rgb(0, 0, 0);
  margin-top: 35px;
}
.services_heading p{
  font-size: 50px;
  margin-top: 15px;
}
.services_cards {
  display: flex;
  margin-top: 50px;
  text-align: center;
  justify-content: center;
  /* border: 10px solid black; */
  margin: 20px;
  /* padding: 60px; */
  height: 380px;
}

.sc-box{
  display: flex;
}

.hr_consulting {
  /* border: 1px solid black; */
  border-radius: 10px;
  width: 250px;
  height: 300px;
  padding: 15px;
  background-color:rgba(108, 45, 45, 0.1);
  margin-left: 50px;
  margin-top: 30px;
  text-align: center;
  cursor:pointer;
  transition: background 1.5s;
}
.hr_consulting:hover{
  background-color:rgba(108, 45, 45, 0.5);
  margin: 50px;
  transition: 0.5s ;
}

.mb-15 {
  margin-bottom: 30px;
  margin-top: -10px;
}

.simg {
  /* margin-bottom: 10px; */
  margin-top: -20px;
}
